.socialLinks {
  &__icon {
    width: 48px;
    height: 48px;
    fill: #fff;
    color: #334755;
    transition: all 0.3s;

    &_vk {
      &:hover {
        fill: #3176a9;
        color: #fff;
      }
    }
  }

  &__link {
    display: flex;
  }
}