.work {
  padding: 50px 0;

  &__title {

    font-size: 48px;
    margin-bottom: 30px;
    font-weight: 700;

    @include adpt ($tab-r) {
      font-size: 36px;
    }

    @include adpt ($bmob-r) {
      font-size: 30px;
    }
  }

  &__item {
    display: flex;
  }

  &__inner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;

    @include adpt ($stab-r) {
      grid-template-columns: 1fr 1fr;
    }

    @include adpt ($bmob-r) {
      grid-gap: 10px;
    }
  }

  &__img {
    object-fit: cover;
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
  }

  &__link {
    position: relative;
    overflow: hidden;
    border-radius: 4px;

    &:hover {
      &::after {
        opacity: 1;
      }
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.6);
      opacity: 0;
      transition: opacity 0.3s;
    }
  }
}